* {
  box-sizing: border-box;
}

.search-container {
  display: flex;
  margin: 16px 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3%;
}

.fa-instagram {
  font-size: 3rem;
  margin-top: 16px;
  margin-right: 10px;
}

.separator {
  margin-top: 4px;
  font-size: 4rem;
  font-weight: lighter;
}

.insta-logo {
  height: 48px;
  margin-top: 16px;
  margin-left: 10px;
}

form {
  width: 33%;
  margin: 0 auto;
}

input {
  margin-top: 16px;
  padding: 6px 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.icon-container {
  width: 33%;
  display: flex;
  margin: 16px 3% 0 0;
  justify-content: flex-end;
}

.far {
  margin: 8px 5%;
  font-size: 2rem;
  font-weight: lighter;
}